

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(22, 238, 2);
  }
    :root {
    --pri: rgb(254, 31, 0 );
    --sec: rgb(251, 234, 233);
}
    .standard {
    position: relative;
    width: 800px;
    height: 900px;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    line-height: 300px;
    transform-style: preserve-3d;
    transform: perspective(1500px);
    
  }
    .door {
    width: 800px;
    height: 900px;
    border: 1px solid;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    transform-style: preserve-3d;
    transform-origin: right;
    transition: all 2s;
    z-index: 10;
  }

    .door::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    left: 15px;
    background-color: white;
    border-radius: 50%;
  }
    .standard:hover .door{
    transform: rotateY(180deg);
    background-color: white;
  } 
      
    .pierrot {
        position: relative;
        top: 10px;
        margin: 300px auto;
        width: 400px;
        height: 380px;
        animation: 얼굴 1s infinite alternate;
    }

    .pierrot .plaster {
        position: absolute;
        top: 175px;
        left: 50px;
        width: 40px;
        height: 100px;
        background-color: rgb(255, 168, 71);
        border: 3px solid #000;
        border-radius: 35%;
        transform: rotate(-30deg);
        z-index: 3;
    }

    .pierrot .plaster:hover {
        
        background-color:darkturquoise;
        border-color: red;   
    }

    .pierrot .plasterband {
        position: absolute;
        top: 205px;
        left: 55px;
        width: 30px;
        height: 40px;
        background-color: rgb(250, 190, 119);
        border: 1px solid rgb(250, 190, 119);
        border-radius: 20%;
        transform: rotate(-30deg);
        z-index: 3;
        
    }

    .pierrot .injurytop{
        position: absolute;
        top: 140px;
        right: 1px;
        width: 40px;
        height: 1px;
        border: 4px solid #000;
        border-radius: 30%;
        transform: rotate(35deg);
        z-index: 1;
    }

    .pierrot .injurymiddle {
        position: absolute;
        top: 155px;
        right: 13px;
        width: 40px;
        height: 3px;
        background-color: #000;
        border: 4px solid #000;
        border-radius: 30%;
        transform: rotate(35deg);
        z-index: 1;
    }
    
    .pierrot .injurybottom {
        position: absolute;
        top: 170px;
        right: 20px;
        width: 40px;
        height: 5px;
        border: 4px solid #000;
        border-radius: 30%;
        transform: rotate(35deg);
        z-index: 1;
    }

    .pierrot .injuryvertical{
        position: absolute;
        top: 120px;
        right: 30px;
        width: 7px;
        height: 80px;
        background-color: black;
        border: 3px solid #000;
        border-radius: 40%;
        transform: rotate(40deg);
        z-index: 1;
    }

    .pierrot .눈썹.왼쪽 {
        position: absolute;
        bottom: 270px;
        left: 30px;
        width: 100px;
        height: 55px;
        border-radius: 50%;
        border: 30px solid var(--pri);
        z-index: 1;
        animation: 왼쪽눈썹 0.5s infinite alternate;
        
        
    }
    .pierrot .눈썹.왼쪽.가리개 {
        position: absolute;
        bottom: 265px;
        left: 30px;
        width: 100px;
        height: 50px;
        border-radius: 50%;
        border: 15px transparent solid;
        background: var(--sec);
        z-index: 1;
        animation: 왼쪽눈썹 0.5s infinite alternate;
    }

    .pierrot .눈썹.오른쪽 {
        position: absolute;
        bottom: 270px;
        right: 30px;
        width: 100px;
        height: 55px;
        border-radius: 50%;
        border: 30px  solid var(--pri);
        z-index: 1;
        animation: 오른쪽눈썹 0.5s infinite alternate;   
    }

    .pierrot .눈썹.오른쪽.가리개 {
        position: absolute;
        bottom: 265px;
        right: 30px;
        width: 100px;
        height: 50px;
        border-radius: 50%;
        background: var(--sec);
        z-index: 1;
        animation: 오른쪽눈썹 0.5s infinite alternate;
        border: 15px transparent solid;    
    }
   
    .pierrot .hat {
        position: absolute;
        bottom: 100px;
        width: 150px;
        height: 350px;
        border-radius: 50%;
        background: var(--sec);
       
    }

    .pierrot .hat.left {
        background-color: rgb(239, 82, 97);
        border: 10px solid rgb(205, 69, 66);
        bottom: 250px;
        right: 270px;
        transform: rotate(-30deg);
        border-radius: 40% 300% 0 0;
        box-shadow: 0 0 20px red(0, 0, 0, 0.5);
        animation: 모자왼쪽 0.4s infinite alternate;
      
    }

    .pierrot .hat.right {
       background-color: rgb(188, 206, 251);
       border: 10px solid rgb(29, 156 ,211);
        bottom: 250px;
        left: 300px;
        transform: rotate(30deg);
        border-radius: 300% 50% 0 0;
        box-shadow: 0 0 20px blue(0, 0, 0, 0.5);
        animation: 모자오른쪽 0.4s infinite alternate;
    }
   
    .pierrot .hat.center{
        background-color: rgb(255, 194, 1);
        border: 10px solid rgb(218, 164, 0);
        bottom: 250px;
        right: 110px;
        border-radius: 100% 100% 0 0;
        box-shadow: 0 0 20px yellow(0, 0, 0, 0.5);
        animation: 모자가운데 0.4s infinite alternate;
    }

    .pierrot .hatcircle.left {
        position: absolute;
        top: -60px;
        right: 100px;
        height: 90px;
        width: 90px;
        background-color: red;
        border: 5px solid rgb(193, 33, 33);
        transform: rotate(90deg);
        border-radius: 50%;
        animation: 모자구슬 0.4s infinite alternate;
       
    }

    .pierrot .hatcircle.right {
        position: absolute;
        top: -70px;
        left: 60px;
        width: 90px;
        height: 90px;
        background-color: rgb(13, 101, 193);
        border: 5px solid rgb(9, 84, 165);
        transform: rotate(90deg);
        border-radius: 50%;
        animation: 모자구슬 0.4s infinite alternate;
    }
    
    .pierrot .hatcircle.center {
        position: absolute;
        top: -80px;
        left: 20px;
        width: 90px;
        height: 90px;
        background-color: rgb(255, 174, 48);
        border: 5px solid rgb(213, 141, 0);
        transform: rotate(90deg);
        border-radius: 50%;
        animation: 모자구슬 1s infinite alternate;
    }

    .pierrot .face {
        position: absolute;
        top: 80px;
        right: 40px;
        width: 300px;
        height: 400px;
        border-radius: 50% 50% 52% 48% / 14% 16% 84% 86% ;
        border: 3px solid rgb(251, 206, 177);
        background: var(--sec);
        animation: 가면 0.4s infinite alternate;
    }

    .pierrot .eye {
        position: absolute;
        top: 110px;
        z-index: 3;     
    }

    .pierrot .eye.leftrow, .pierrot .eye.leftvertical{
        background: black;
        animation: 왼쪽눈 1s infinite alternate;
    }

   
    .pierrot .eye.leftrow{
        top: 120px;
        left: 55px;
        width: 50px;
        height: 20px;
        
    }
    .pierrot .eye.leftvertical{
        top: 100px;
        left: 70px;
        width: 20px;
        height: 60px;
    }

    .pierrot .eye.right {
        width: 40px;
        height: 40px;
        background: #000;
        top: 110px;
        right: 65px;
        border-radius: 50%; 
    }
    .pierrot .eye.right:hover {    
        background-color:cyan;
       border: 3px solid violet
    }
    
    .pierrot .eye.righttriangleup {
        width: 5px;
        height: 5px;
        background: transparent;
        top: 35px;
        right: 55px;
        border-bottom: 70px solid rgb(0, 86, 102);
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;

    }
    .pierrot .eye.righttriangleup:hover{
        border-bottom: 70px solid blue;
    }

    .pierrot .eye.righttrianglebottom {  
        width: 10px;
        height: 10px;
        background: transparent;
        top: 155px;
        right: 55px;
        border-top: 70px solid rgb(0, 86, 102);
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
    }

    .pierrot .eye.righttrianglebottom:hover{
        border-top: 70px solid lightsalmon;
    }

    .pierrot .nose {
        position: absolute;
        top: 170px;
        left: 120px;
        width: 50px;
        height: 40px;
        border-radius: 50% 50% 20% 20%;
        background: var(--pri);
        z-index: 3;
        box-shadow: 2px 2px 5px 10px var(--pri);
        animation: 코 0.5s infinite alternate;
    }
    .pierrot .nose:hover {
        background-color:lime; 
    }

    .pierrot .mouthrmakeup {
        position: absolute;
        width: 180px;
        height: 110px;
        border: 50px solid var(--pri);
        border-radius: 50%;
        box-shadow: 2px 2px 5px 10px var(--pri);
        top: 230px;
        left: 55px;
        z-index: 0;
        background: transparent;
        animation: 입분장 0.5s infinite alternate;
        
    }

    .pierrot .mouthmakeupblind {
        position: absolute;
        width: 220px;
        height: 120px;
        border: 20px solid var(--sec);
        border-radius: 40%;
        top: 180px;
        left: 30px;
        background: var(--sec);
        animation: 입분장 0.5s infinite alternate;
        z-index: 1;
    }
    
    .pierrot .mouth {
        position: absolute;
        width: 120px;
        height: 120px;
        border: 15px solid black;
        border-radius: 50%;
        top: 210px;
        left: 85px;
        z-index: 0;
        background: transparent;
        animation: 입 0.5s infinite alternate;
    }
    .pierrot .mouthblind {
        position: absolute;
        width: 150px;
        height: 100px;
        border: 25px solid var(--pri);
        border-radius: 50%;
        top: 220px;
        left: 70px;
        z-index: 0;
        background: transparent;
        animation: 입 0.5s infinite alternate;
    }

    .balloon {
        position: relative;
        top: 50%;
        right: 220px;
        transform: rotate(-10deg);
        width: 230px;
        height: 200px;
        line-height: 100px;
        font-weight: 30px;
        text-align: center;
        font-size: 50px;
        background: black;
        border-radius: 40% 40% 40% 40%;
        box-sizing: border-box;
        color: #FFF;
        animation: talk 3s infinite 3s;
       
    }

    .balloon:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 200px;
        transform: rotate(-30deg);
        margin-top: 0px;
        border: 15px solid transparent;
        border-left: 50px solid black;
      } 


  @font-face {
    font-family: 'HSGyeoulNoonkott20';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HSGyeoulNoonkott20.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
            /* animaion */
             @keyframes 얼굴 {
              0% {
                transform: scale(0) 
            }

            25% {
                transform: scale(1);
            }
        

            50% {
                transform: scale(0.5);
            }

          
            100% {
              transform: scale(1);
          } 
           
          }   

          @keyframes 모자오른쪽 {
              from {
                  transform: rotate(30deg);
              }

              to {
                  transform: rotate(40deg) translateX(10px);
              }
          }
          
          @keyframes 모자가운데 {
              from {
                  transform: rotate(10deg);
              }

              to {
                  transform: rotate(-10deg);
              }
          }

          @keyframes 모자왼쪽 {
              from {
                  transform: rotate(-30deg);
              }

              to {
                  transform: rotate(-40deg) translateX(-10px);
              }
          }  
           @keyframes 모자구슬 {
              from {
                  transform: scale(1);
              }

              to {
                  transform: scale(1.5);
              }
          } 
          @keyframes 입 {
              from {
                  transform: scale(0.7);
              }

              to {
                  transform: scale(1);
              }
          }
          @keyframes 입분장 {
              from {
                  transform: scale(0.8);
              }

              to {
                  transform: scale(1);
              }
          }
          @keyframes 왼쪽눈썹 {
              from {
                  transform: rotate(-10deg);
              }

              to {
                  transform: rotate(10deg);
              }
          }

          @keyframes 오른쪽눈썹 {
              from {
                  transform: rotate(10deg);
              }

              to {
                  transform: rotate(-10deg);
              }
          } 
         

          @keyframes 코 {
              from {
                  transform: scale(0.5);
              }

              to {
                  transform: scale(0.8);
              }
          }  
          @keyframes 왼쪽눈 {
              from {
                  transform: rotate(90deg);
              }

              to {
                  transform: rotate(360deg);
              }
          }      
          @keyframes 가면 {
              from {
                  transform: rotate(-5deg);
              }

              to {
                  transform: rotate(5deg);
              }
          }    
          @keyframes talk {
              from {
                  opacity: 0;
               }
               to {
                  opacity: 1;
               }
          } 


        